header {
  float: left;
  background-color: black;
  width: 100%;
}

header p {
  float: right;
  color: white;
}

a {
  color: gold;
  background: black;
  padding: 10px 3px;
}

#logo {
  float: left;
  width: 20%;
  height: 20%;
  display: block;
}

nav {
  float: right;
  padding: 20px;
}

#menu-icon {
  display: hidden;
  width: 10px;
  height: 10px;
  background: white url(../img/retangulos-de-menu.png) center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: none;
  padding: 10px;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 640px) {
  #menu-icon {
    display: inline-block;
  }

  nav ul {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    padding: 20px;
    background: #fff;
    width: 20%;
  }

  nav li {
    text-align: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  nav:hover ul {
    display: block;
  }

  nav li a {
    color: #3b8686;
  }

  nav:hover ul {
    display: block;
  }

  p {
    text-align: justify;
  }

  .depoimentos{
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
    width: 95%;
  }
}
